#lineTop {
    display: flex;
    margin-top: 40px;
    margin-left: 25px;
    align-items: center;
    margin-bottom: 50px;
    /* border: 1px solid black; */
}

#lineTop1 {
    width: 230px;
    height: 8px;
    background-color: #dd0285;
    border-radius: 6px;

}

#lineTop2 {
    width: 230px;
    height: 8px;
    background-color: #6e6c6e;
    border-radius: 6px;
    margin-left: -10px;
}

#circle1 {
    width: 33px;
    height: 33px;
    border: 7px solid #dd0285;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    /* top: 28.4%; */
    left: 6.1%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 1600;
}

#circle2 {
    width: 33px;
    height: 33px;
    border: 7px solid #6e6c6e;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    left: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 1600;
}

#belowlineHead {
    display: flex;
    margin-top: -20px;
    margin-left: 30px;
    align-items: center;
    justify-content: space-around;
    width: 480px;
    font-size: 22px;
    color: rgb(153, 149, 149);
    margin-bottom: 30px;
}
#mainBox{
    width: 80%;
    /* height: 600px; */
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#shippingBox{
    width: 57%;
    /* height: 580px; */
    /* border: 1px solid blue; */
    /* margin-left: 20px; */
    padding: 10px 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #fafafa;
}
.shipping{
    height: 28px;
    width: 98.75%;
    margin-top: 8px;
   margin-bottom: 22px;
}
label{
    font-weight: bold;
    font-size: 15px;
    color: #5a5858;
 
}

.star{
    font-size: 13px;
    color: #e13431;
}
#state{
    width:100%;
    height: 30px;
    margin-bottom: 15px;
}
#country{
    width:100%;
    height: 30px;
    margin-bottom: 15px;
   
}


#btn1togoPaymentPage{
    width: 20%;
    border: #444444;
    background-color: #444444;
    color: white;
    height: 35px;
    cursor: pointer;
    margin: 10px;
}

#btn1togoPaymentPage:hover{
    border: #dd0285;
    background-color: #dd0285;
}
#atag{
    text-decoration: none;
    color: aliceblue;
}
/* paymentpagehtml */
#PaymentMethodMain{
    margin: auto;
    justify-content: center;
    width: 30%;
}
.payeeDetails{
    width: 100%;
    height: 20px;
    margin-top: 10px;
}