*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F9F9F9;
}
#header{
    background-image: url(https://www.beautybebo.com/pub/media/ads/ad-desktop.jpg);
    width: 100%;
    height: 60px;
    background-position: center;
    background-size: 100%;
    text-align: right;
    
}

#header > a > img{
    height: 80%;
    width: 120px;
    margin: 5px  50px 0 0 ;
}

img{
    width: 100%;
}
#topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 0; */
    max-width: 1200px;
    margin: 10px auto;
    /* position: sticky;
    top: 0; */
    
}
#topBar div:nth-child(1){
   width: 22%;
   margin-right: 40px;
}
#topBar div:nth-child(2){
    width: 45%;
    display: flex;
    border: 1px solid #f7eef4;
    padding: 0 0 0 25px;
    align-items: center;
    /* margin-right: 20px; */
    border-radius: 4px ;
    background-color: #fff;
    justify-content: space-around;
}
#allCategorySearchBox > input{
    width:  70% ;
    margin: 0;
}
#topBar  div:nth-child(2) > p i{
    padding: 0 0px 0 0px ;
    color: #dec5d4;
}
#topBar  div:nth-child(2) > p {
    color: #b591a7;
    font-weight: 100;
    width: 50%;
}

#topBar  div:nth-child(2) > input{
    padding: 10px 60px 10px 30px;
    border: none;

}
#topBar  div:nth-child(2) > input::placeholder{
    color: #e5accf;

}
#topBar  div:nth-child(2) > i{
    padding: 13px;
    background-color: #DD0285;
    cursor: pointer;
}
#topBar div:nth-child(3){
    width: 25%;
    text-align: right;
    align-items: center;
}
#topBar div:nth-child(3) > i{
    padding: 10px;
    border: 1px solid #a36f8e;
    border-radius: 3px;
    margin-right: 10px;
}
#topBar div:nth-child(3) > span > i{
    padding: 10px;
}
#topBar div:nth-child(3) > i ~ div{
    /* border: 1px solid  red; */
    display: none;
}
#topBar div:nth-child(3) > span{
    position: relative;
}
#topBar div:nth-child(3) > span > div{
    padding: 0px;
    width: 120px;
    position: absolute;
    right: 0;
    display: grid;
    justify-content: left;
    text-align: left;
    visibility: hidden;
    opacity: 0; 
    transition: .2s;
    z-index: 10001;
}
#topBar div:nth-child(3) > span:hover div{
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}
#topBar div:nth-child(3) > span > div > a{
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: black;
    /* color: red; */
}
#topBar div:nth-child(3) > i:hover{
    background-color: #DD0285;
}
#topBar div:nth-child(3) >span{
    font-size: 14px;
}

/* Navbar css start */

#navBar{
    width: 100%;
    background-color: #DD0285;
    
    position: sticky;
    top: -2px;
    z-index: 100;
}

#navBar > i{
    color: white;
    padding: 15px;
    font-size: 20px;
    display: none;
    z-index: 100;
}
.nav{
    max-width: 1180px;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.nav ul{
    position: relative;
    z-index: 100;
}

.nav ul li{
    display: inline-block;
    padding: 16px 13px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    z-index: 100;
    /* position: relative; */
}
.nav ul li i{
    padding-left: 5px;
    font-size: 14px;
}
.nav ul li:hover{
    background-color: #C60277;
    color: white;
}
.nav button{
    padding: 16px 45px;
    border: none;
    background-color: #C60277;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn2{
    padding: 16px 45px;
    border: none;
    background-color: #C60277;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.navData{
    position: absolute;
    display: flex;
    background-color: #fff;
    width: 120%;
    top: 47px;
    left: -0px;
    padding: 20px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0; 
    transition: .2s;
}
.nav > ul > li:hover .navData{
    visibility: visible;
    opacity: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navData ul li{
    display: block;
    padding: 6px;
}
.navData ul li:hover{
    background-color: #fff;
}
.navData a, ul li a{
    color: #a05984;
    text-decoration: none;
    font-size: 12px;
    
}
.navData > div >a{
    color: rgb(55, 54, 54);
    padding-bottom: 10px;
    display: inline-block;
}





@media only screen and (max-width: 1200px) {
    #topBar div:nth-child(2) > p i{
        display: none;
    }
    #topBar div:nth-child(3) > i:hover  span > div{
        visibility: visible;
        opacity: 1;
        position: relative;
    }
    section > #topBar{
        width: 90%;
        margin: auto;
    }
    .nav{
        width: 90%;
        margin: auto;
    }
  }
@media only screen and (max-width: 900px) {
    #topBar div:nth-child(2) > p{
        display: none;
    }
    #topBar div:nth-child(3) > span{
        display: none;
    }
    .nav{
        display: none;
    }
    #navBar{
        display: flex;
        justify-content: space-between;
    }
    #navBar > i{
        display: block;
    }
    .nav ul li{
        font-size: 12px;
    }
    .btn2{
        display: block;
        align-items: right;
    }
    
  }


@media only screen and (max-width: 900px) {
    #topBar div:nth-child(2){
        display: none;
    }
    #topBar div:nth-child(3) > i{
        border: none;
    }
}


