* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f9f9f9;
}
#topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px 0; */
  max-width: 1200px;
  margin: 10px auto;
  /* position: sticky;
  top: 0; */
}
#topBar div:nth-child(1) {
  width: 22%;
  margin-right: 40px;
}
#topBar div:nth-child(2) {
  /* width: 35%; */
  display: flex;
  border: 1px solid #f7eef4;
  padding: 0 0 0 25px;
  align-items: center;
  /* margin-right: 20px; */
  border-radius: 4px;
  background-color: #fff;
  justify-content: space-around;
}
#topBar div:nth-child(2) > p i {
  padding: 0 20px 0 100px;
  color: #dec5d4;
}
#topBar div:nth-child(2) > p {
  color: #b591a7;
  font-weight: 100;
}

#topBar div:nth-child(2) > input {
  padding: 10px 60px 10px 30px;
  border: none;
}
#topBar div:nth-child(2) > input::placeholder {
  color: #e5accf;
}
#topBar div:nth-child(2) > i {
  padding: 13px;
  background-color: #dd0285;
  cursor: pointer;
}
#topBar div:nth-child(3) {
  width: 25%;
  text-align: right;
  align-items: center;
}
#topBar div:nth-child(3) > i {
  padding: 10px;
  border: 1px solid #a36f8e;
  border-radius: 3px;
  margin-right: 10px;
}
#topBar div:nth-child(3) > span > i {
  padding: 10px;
}
#topBar div:nth-child(3) > i ~ div {
  /* border: 1px solid  red; */
  display: none;
}
#topBar div:nth-child(3) > span {
  position: relative;
  z-index: 1000;
}
#topBar div:nth-child(3) > span > div {
  padding: 0px;
  width: 120px;
  position: absolute;
  right: 0;
  display: grid;
  justify-content: left;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
#topBar div:nth-child(3) > span:hover div {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}
#topBar div:nth-child(3) > span > div > a {
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  color: black;
  /* color: red; */
}
#topBar div:nth-child(3) > i:hover {
  background-color: #dd0285;
}

/* Navbar css start */

#navBar {
  width: 100%;
  background-color: #dd0285;
  z-index: 1000;
  position: sticky;
  top: -2px;
}

#navBar > i {
  color: white;
  padding: 15px;
  font-size: 20px;
  display: none;
}
.nav {
  max-width: 1180px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.nav ul {
  position: relative;
}

.nav ul li {
  display: inline-block;
  padding: 16px 13px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  /* position: relative; */
}
.nav ul li:hover {
  background-color: #c60277;
}
.nav button {
  padding: 16px 45px;
  border: none;
  background-color: #c60277;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn2 {
  padding: 16px 45px;
  border: none;
  background-color: #c60277;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.navData {
  position: absolute;
  display: flex;
  background-color: #fff;
  width: 120%;
  top: 47px;
  left: -0px;
  padding: 20px;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
  transition: 0.2s;
}
.nav > ul > li:hover .navData {
  visibility: visible;
  opacity: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 
}

.navData ul li {
  display: block;
  padding: 6px;
}
.navData ul li:hover {
  background-color: #fff;
}
.navData a,
ul li a {
  color: #a05984;
  text-decoration: none;
  font-size: 12px;
}
.navData > div > a {
  color: rgb(55, 54, 54);
  padding-bottom: 10px;
  display: inline-block;
}

/* product container */

#productContainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  z-index: 1;
}
#container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 70%;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 50px;
}
#container > div {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
}
#container img {
  width: 100%;
  height: 60%;
  display: block;
  margin: auto;
  /* border: 1px solid black; */
  display: block;
  margin: auto;
}
#sort-div {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sort-div > ul {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /* border: 2px solid black; */
}

#sort-div > ul > li {
  background-color: #f5f5f5;
  display: flex;
  color: #666666;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 4px;
}
#sort-div > ul > li:hover {
  background-color: #dd0285;
  color: white;
  cursor: pointer;
}

#sort-div > ul > li:first-child {
  text-decoration: none;
  background-color: #dd0285;
  color: white;
}

#sort {
  padding: 10px 25px 10px 0px;
  background-color: #f5f5f5;
  color: #666666;
  border: none;
  font-size: 1em;
}
#container {
  /* border : 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 70%;
  box-sizing: border-box;
}
#container > div {
  border: 1px solid rgb(224, 224, 224);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  /* box-sizing: border-box; */
  position: relative;
}
#container img {
  width: 100%;
  height: 60%;
  display: block;
  margin: auto;
  /* border: 1px solid black; */
}
#logo {
  background-color: #dd0285;
  padding: 15px 10px 15px 10px;
  border-radius: 70%;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
}
#namebox {
  height: 60px;
  /* border: 1px solid teal; */
  font-size: 14px;
}
#pricebox {
  width: 200px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid brown; */
  margin: auto;
  margin-top: 0px;
  /* margin-bottom: 70px; */
}
strike {
  margin-top: 23px;
  color: rgb(131, 126, 126);
  font-weight: 600;
}
strike + p {
  font-weight: bolder;
  font-size: 20px;
  color: #dd0285;
}
p + p {
  font-weight: bold;
  margin-top: 23px;
  color: green;
}
#cartbox {
  /* border: 1px solid purple; */
  /* position: absolute; */
  bottom: 10px;
  display: flex;
  width: 170px;
  margin: auto;
  height: 30px;
}

#cart {
  display: block;
  margin: auto;
  background-color: #dd0285;
  border: 0px;
  padding: 5px 15px 5px 20px;
  color: white;
}
#wish {
  background-color: black;
  color: white;
}

/* media queries */
@media only screen and (max-width: 900px) {
  #topBar div:nth-child(2) > p {
    display: none;
  }
  #topBar div:nth-child(3) > span {
    display: none;
  }
  .nav {
    display: none;
  }
  #navBar {
    display: flex;
    justify-content: space-between;
  }
  #navBar > i {
    display: block;
  }
  .nav ul li {
    font-size: 12px;
  }
  .btn2 {
    display: block;
    align-items: right;
  }
}

@media only screen and (max-width: 900px) {
  #topBar div:nth-child(2) {
    display: none;
  }
  #topBar div:nth-child(3) > i {
    border: none;
  }
}
@media only screen and (max-width: 1200px) {
  #topBar div:nth-child(2) > p i {
    display: none;
  }
  #topBar div:nth-child(3) > i:hover span > div {
    visibility: visible;
    opacity: 1;
    position: relative;
  }
  section > #topBar {
    width: 90%;
    margin: auto;
  }
  .nav {
    width: 90%;
    margin: auto;
  }
}
