* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f9f9f9;
}
#topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px 0; */
  max-width: 1200px;
  margin: 10px auto;
  /* position: sticky;
    top: 0; */
}
#topBar div:nth-child(1) {
  width: 22%;
  margin-right: 40px;
}
#topBar div:nth-child(2) {
  /* width: 35%; */
  display: flex;
  border: 1px solid #f7eef4;
  padding: 0 0 0 25px;
  align-items: center;
  /* margin-right: 20px; */
  border-radius: 4px;
  background-color: #fff;
  justify-content: space-around;
}
#topBar div:nth-child(2) > p i {
  padding: 0 20px 0 100px;
  color: #dec5d4;
}
#topBar div:nth-child(2) > p {
  color: #b591a7;
  font-weight: 100;
}

#topBar div:nth-child(2) > input {
  padding: 10px 60px 10px 30px;
  border: none;
}
#topBar div:nth-child(2) > input::placeholder {
  color: #e5accf;
}
#topBar div:nth-child(2) > i {
  padding: 13px;
  background-color: #dd0285;
  cursor: pointer;
}
#topBar div:nth-child(3) {
  width: 25%;
  text-align: right;
  align-items: center;
}
#topBar div:nth-child(3) > i {
  padding: 10px;
  border: 1px solid #a36f8e;
  border-radius: 3px;
  margin-right: 10px;
}
#topBar div:nth-child(3) > span > i {
  padding: 10px;
}
#topBar div:nth-child(3) > i ~ div {
  /* border: 1px solid  red; */
  display: none;
}
#topBar div:nth-child(3) > span {
  position: relative;
  top: 100%;
  bottom: 0%;
  z-index: 1000;
}
#topBar div:nth-child(3) > span > div {
  padding: 0px;
  width: 120px;
  position: absolute;
  right: 0;
  display: grid;
  justify-content: left;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
#topBar div:nth-child(3) > span:hover div {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}
#topBar div:nth-child(3) > span > div > a {
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  color: black;
  /* color: red; */
}
#topBar div:nth-child(3) > i:hover {
  background-color: #dd0285;
}

/* Navbar css start */

#navBar {
  width: 100%;
  background-color: #dd0285;
  z-index: 100;
  position: sticky;
  top: -2px;
}

#navBar > i {
  color: white;
  padding: 15px;
  font-size: 20px;
  display: none;
}
.nav {
  max-width: 1180px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.nav ul {
  position: relative;
}

.nav ul li {
  display: inline-block;
  padding: 16px 13px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  /* position: relative; */
}
.nav > ul > li > a {
  color: white;
}
.nav ul li:hover {
  background-color: #c60277;
}
.nav button {
  padding: 16px 45px;
  border: none;
  background-color: #c60277;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn2 {
  padding: 16px 45px;
  border: none;
  background-color: #c60277;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.navData {
  position: absolute;
  display: flex;
  background-color: #fff;
  width: 120%;
  top: 47px;
  left: -0px;
  padding: 20px;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 100;
  opacity: 0;
  transition: 0.2s;
}
.nav > ul > li:hover .navData {
  visibility: visible;
  opacity: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navData ul li {
  display: block;
  padding: 6px;
}
.navData ul li:hover {
  background-color: #fff;
}
.navData a,
ul li a {
  color: #a05984;
  text-decoration: none;
  font-size: 12px;
}
.navData > div > a {
  color: rgb(55, 54, 54);
  padding-bottom: 10px;
  display: inline-block;
}
#mainContainer {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* border: 2px solid red; */
}

#product-div {
  /* border: 2px solid black; */
  width: 70%;
  margin-left: 25px;
}
#product-div h2 {
  color: grey;
}

#sort-div {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
#sort-div > #sort {
  padding: 10px 25px 10px 0px;
  background-color: white;
  color: #666666;
  border: none;
  font-size: 1em;
}
#sort-div > ul {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /* border: 2px solid black; */
}

#sort-div > ul > li {
  background-color: #f5f5f5;
  display: flex;
  color: #666666;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 4px;
}

#sort-div > ul > li:hover {
  background-color: #dd0285;
  color: white;
  cursor: pointer;
}

#sort-div > ul > li:first-child {
  text-decoration: none;
  background-color: #dd0285;
  color: white;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 10px;
}
#box {
  height: 400px;
  border: 1px solid #ebebeb;
  padding: 0px 15px;
  padding-bottom: 25px;
  position: relative;
}

#box > img {
  width: 100%;
  height: 65%;
  max-height: 300px;
  text-align: center;
}
#sale {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: #dd0285;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#namebox > p {
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}
#cartbox {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
}
#cartbox > button {
  background-color: #dd0285;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 4px;
}
#cartbox > button > #cart {
  margin-left: 7px;
  font-weight: 500;
}
#cartbox > #wish {
  background-color: #666666;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
}
#cartbox > #wish:hover {
  background-color: #dd0285;
  cursor: pointer;
}
#cartbox > button:hover {
  background-color: #cb4797;
  cursor: pointer;
}
#pricebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
#pricebox > #strike {
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 6px;
  font-weight: 300;
}
#pricebox > #price {
  color: #dd0285;
  font-size: 18px;
  font-weight: 700;
}
#pricebox > #disc {
  color: #008000;
  font-weight: 500;
  margin-left: 5px;
}

/* Sidebar section*/
#sidebar {
  /* border: 2px solid black; */
  width: 25%;
}

#sidebar > div:first-child {
  /* border: 1px solid red; */
  padding: 10px 15px;
  font-weight: 300;
}

#sidebar > div:first-child,
#option > div {
  padding: 8px 15px;
  font-weight: 300;
  /* border: 1px solid red; */
  border-bottom: 2px solid #ebebeb;
  cursor: pointer;
}

#option {
  margin-top: 25px;
  height: auto;
}

#option > h3 {
  margin-left: 15px;
  margin-bottom: 10px;
}

#option > div:nth-child(2) {
  border-top: 2px solid #ebebeb;
}

#sidebar > img {
  width: 100%;
  margin-top: 25px;
}

#ctg {
  display: flex;
  flex-direction: column;
}

#ctg > p,
#option > div > p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#ctg > p > span,
#option > div > p > span {
  font-size: 16px;
  font-weight: 500;
}

#list {
  margin-top: 10px;
}

#list > p {
  line-height: 20px;
  word-spacing: 8px;
}
#remove {
  background-color: #dd0285;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 4px;
  margin-top: 30px ;
  margin-left: 60px;
}
.fa-heart{
  border: 1px solid rgb(118, 110, 110);
  padding:9px;
  border-radius: 2px;
  color: black;
}
.fa-heart:hover{
  background-color: #c60277;
}
